@model Hastane.Models.KayitModel
@using Hastane.Models
@{
    ViewData["Title"] = "Hoşgeldiniz Lütfen Giriş Yapınız";
}

<h2>@ViewData["Title"]</h2>


<div class="center">
    <form class="form" asp-action="Index" asp-controller="Giriş">
        <div class="input-container">
            <label asp-for="Email">Email</label>
            <input asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>
        <div class="input-container">
            <label asp-for="Password">Şifre</label>
            <input asp-for="Password" type="password" />
            <span asp-validation-for="Password"></span>
        </div>

       <input class="sign" type="submit" />
       
        
        <p class ="signup-link">Eğer kayıtlı değilseniz, <a asp-controller="Kayit" asp-action="Index">kayıt olunuz.</a></p>
      
    </form>
</div>

<style>
    h2 {
        color: seagreen;
        border-bottom-style: groove;
        border-bottom-color: seagreen;
        text-align: center;
    }
    .center{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 300px;
        padding: 40px;
        transform: translate(-50%, -50%);
        background: #e5e7eb;
        box-sizing: border-box;
        box-shadow: 0 15px 25px;
        border-radius: 10px;
    }
    .form {
        display: block;
        padding: 1rem;
        max-width: 350px;
        border-radius: 0.5rem;
    }
    .input-container input {
            outline: none;
            border: 1px solid #e5e7eb;
            margin: 8px 0;
    }
    .sign{
        position: relative;
        text-align: center;
        justify-content: center;
    }
    .input-container {
        position:relative;
        text-align: center;
        justify-content: center;
    }
    .signup-link {
        color: #6B7280;
        font-size: 0.875rem;
        line-height: 1.25rem;
        text-align: center;
    }
    .signup-link a {
        text-decoration: underline;
    }
</style>