@{
    ViewData["Title"] = "Hekimler";
}

<div class="baslıkd">
    <h2>DOKTORLAR</h2>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card h-100">
            <img src="~/images/doctor.jpg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">
                    Dr.
                    Murat Doğan
                </h5>
                <p class="card-text">
                    <h6>
                        Acil Servis
                    </h6>
                    <h6>
                        A HASTANESİ
                    </h6>
                    <h6>
                        0332 325 53 53
                    </h6>
                    <h6>
                        asdfdsgfh@gmail.com
                    </h6>
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="~/images/doctorr.jpg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">
                    Dr. Öğr. Üyesi
                    Ahmet Özdemir
                </h5>
                <p class="card-text">
                    <h6>
                        Acil Servis
                    </h6>
                    <h6>
                        A HASTANESİ
                    </h6>
                    <h6>
                        0332 123 45 55
                    </h6>
                    <h6>
                        asddjklh@gmail.com
                    </h6>
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="~/images/doctor1.jpg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">
                    Uzm. Dr.
                    Ayberk Özdemir
                </h5>
                <p class="card-text">
                    <h6>
                        Acil Servis
                    </h6>
                    <h6>
                        A HASTANESİ
                    </h6>
                    <h6>
                        0332 564 11 22
                    </h6>
                    <h6>
                        asddjklh@gmail.com
                    </h6>
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="~/images/doctorn.jpg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">
                    Prof. Dr.
                    Nur Özdemir
                </h5>
                <p class="card-text">
                    <h6>
                        Beyin ve Sinir Cerrahisi
                    </h6>
                    <h6>
                        A HASTANESİ
                    </h6>
                    <h6>
                        0332 504 11 54
                    </h6>
                    <h6>
                        asddjklh@gmail.com
                    </h6>
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="~/images/doctor1.jpg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">
                    Dr.
                    Ali Özdemir
                </h5>
                <p class="card-text">
                    <h6>
                        Beyin ve Sinir Cerrahisi
                    </h6>
                    <h6>
                        A HASTANESİ
                    </h6>
                    <h6>
                        0332 395 00 53
                    </h6>
                    <h6>
                        asdfdsgfh@gmail.com
                    </h6>
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="~/images/doctor.jpg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">
                    Uzm. Dr.
                    Veli Özdemir
                </h5>
                <p class="card-text">
                    <h6>
                        Beyin ve Sinir Cerrahisi
                    </h6>
                    <h6>
                        A HASTANESİ
                    </h6>
                    <h6>
                        0312 500 11 10
                    </h6>
                    <h6>
                        asddjklh@gmail.com
                    </h6>
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="~/images/doctor.jpg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">
                    Uzm. Dr.
                    Anıl Özdemir
                </h5>
                <p class="card-text">
                    <h6>
                        Çocuk Sağlığı ve Hastalıkları
                    </h6>
                    <h6>
                        A HASTANESİ
                    </h6>
                    <h6>
                        0312 500 11 01
                    </h6>
                    <h6>
                        asddjklh@gmail.com
                    </h6>
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="~/images/doctorr.jpg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">
                    Uzm. Dr.
                    Ozan Özdemir
                </h5>
                <p class="card-text">
                    <h6>
                        Çocuk Sağlığı ve Hastalıkları
                    </h6>
                    <h6>
                        A HASTANESİ
                    </h6>
                    <h6>
                        0312 500 11 36
                    </h6>
                    <h6>
                        asddjklh@gmail.com
                    </h6>
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="~/images/doctorn.jpg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">
                    Uzm. Dr.
                    Aygün Özdemir
                </h5>
                <p class="card-text">
                    <h6>
                        Çocuk Sağlığı ve Hastalıkları
                    </h6>
                    <h6>
                        A HASTANESİ
                    </h6>
                    <h6>
                        0312 500 11 45
                    </h6>
                    <h6>
                        asddjklh@gmail.com
                    </h6>
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="~/images/doctor.jpg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">
                    Uzm. Dr.
                    Mert Özdemir
                </h5>
                <p class="card-text">
                    <h6>
                        Dermatoloji
                    </h6>
                    <h6>
                        A HASTANESİ
                    </h6>
                    <h6>
                        0312 500 11 88
                    </h6>
                    <h6>
                        asddjklh@gmail.com
                    </h6>
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="~/images/doctorr.jpg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">
                    Uzm. Dr.
                    Tunahan Özdemir
                </h5>
                <p class="card-text">
                    <h6>
                        Dermatoloji
                    </h6>
                    <h6>
                        A HASTANESİ
                    </h6>
                    <h6>
                        0312 500 11 55
                    </h6>
                    <h6>
                        asddjklh@gmail.com
                    </h6>
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="~/images/doctorr.jpg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">
                    Uzm. Dr.
                    Talha Özdemir
                </h5>
                <p class="card-text">
                    <h6>
                        Dermatoloji
                    </h6>
                    <h6>
                        A HASTANESİ
                    </h6>
                    <h6>
                        0312 500 11 91
                    </h6>
                    <h6>
                        asddjklh@gmail.com
                    </h6>
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="~/images/doctor.jpg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">
                    Uzm. Dr.
                    Ahmet Ayberk Şengül
                </h5>
                <p class="card-text">
                    <h6>
                        Genel Cerrahi
                    </h6>
                    <h6>
                        A HASTANESİ
                    </h6>
                    <h6>
                        0300 120 26 00
                    </h6>
                    <h6>
                        asddjklh@gmail.com
                    </h6>
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="~/images/doctorn.jpg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">
                    Prof. Dr.
                    Nur Şengül
                </h5>
                <p class="card-text">
                    <h6>
                        Genel Cerrahi
                    </h6>
                    <h6>
                        A HASTANESİ
                    </h6>
                    <h6>
                        0300 120 00 00
                    </h6>
                    <h6>
                        asddjklh@gmail.com
                    </h6>
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="~/images/doctor1.jpg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">
                    Uzm. Dr.
                    Anıl Ozan Kale
                </h5>
                <p class="card-text">
                    <h6>
                        Genel Cerrahi
                    </h6>
                    <h6>
                        A HASTANESİ
                    </h6>
                    <h6>
                        0311 120 21 00
                    </h6>
                    <h6>
                        asddjklh@gmail.com
                    </h6>
                </p>
            </div>
        </div>
    </div>
</div>
    <style>
        .card {
        background-color: rgba(255, 255, 255, 0.4);
        }
        h2 {
            color: seagreen;
            text-align: center;
        }
        h5{
            color:rebeccapurple
        }
    </style>



