@{
    ViewData["Title"] = "Home Page";
    var currentDate = DateTime.Now;
}

<div class="text-center">
    <div class="container mt-5">
        <div class="jumbotron">
            <div>
                <p><strong>@currentDate.ToString("dddd, dd MMMM yyyy HH:mm:ss")</strong></p>
            </div>
            <h1 class="display-4">Hastanemize Hoş geldiniz</h1>
            
            <p class="lead">Randevu almak için lütfen aşağıdaki butona tıklayınız.</p>
            <hr class="my-4">
            <button class="btn btn-success btn-lg" type="button">
                <a class="nav-link text-light" asp-area="" asp-controller="Randevu" asp-action="Index">Randevu Al</a>
            </button>
            <style>
                         h1 {
                             color: purple;
                         }
            </style>
        </div>
    </div>
</div>