@model Dictionary<string, List<string>>

<div class="container">
    @foreach (var group in Model)
    {
        <div class="clearfix">
            <h2>@group.Key</h2>
            <ul>
                @foreach (var poliklinik in group.Value)
                {
                    <li>@poliklinik</li>
                }
            </ul>
        </div>
    }
</div>

