@{
    ViewData["Title"] = "Hastane İletişim";
}
<div class="baslk">
    <p id="liveDateTime"></p>
    <h2>@ViewData["Title"] </h2>
</div>
<div id="map" style="height: 400px;"></div>

<div class="icerik">
    <h3>A HASTANESİ</h3>
    <h6><strong>Adres :</strong> Beylikdüzü Cd.34520 Beylikdüzü/İstanbul</h6>
    <h6><strong>Telefon :</strong> 0211 111 71 11 </h6>
    <h6><strong>Çağrı Merkezi :</strong> 0211 111 71 11 </h6>
    <h6><strong>Fax :</strong> 0211 111 71 11 </h6>
    <h6><strong>E-Posta :</strong> internationalistanbulinfo@aaaaaa.com.tr </h6>
    <h6><strong>Kep Adresi :</strong> aaaaaainternational@hs01.kep.tr </h6>
    <h6><strong>Mersis No :</strong> 04680000000000049</h6>
</div>

@section Scripts {
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBSXiBoHRV_9JJrTSeKs3LLVYXt5iI6Iug&callback=initMap" async defer></script>
    <script>
        function initMap() {
            var hospitalLocation = { lat: 41.0123, lng: 28.9757 };
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 15,
                center: hospitalLocation
            });

            var marker = new google.maps.Marker({
                position: hospitalLocation,
                map: map,
                title: 'A Hastanesi'
            });
            
        }
        function updateLiveDateTime() {
                var currentDate = new Date();
                var formattedDate = currentDate.getFullYear() + '-' + (currentDate.getMonth() + 1) + '-' + currentDate.getDate() + ' ' + currentDate.getHours() + ':' + currentDate.getMinutes() + ':' + currentDate.getSeconds();
                document.getElementById('liveDateTime').innerHTML = formattedDate;
        }
        document.addEventListener('DOMContentLoaded', function () {
                updateLiveDateTime();
                setInterval(updateLiveDateTime, 1000);
        });
    </script>
}

<style>
    h2{
        color:purple;
        border-top-style: none;
        border-right-style: none;
        border-bottom-style: double;
        border-left-style: none;
        
    }
    p{
        text-align:right;
        font-size:11px;
    }
    h3{
        color: rebeccapurple;
        text-align:center;
        font-style:oblique;
        padding:15px;
        border-bottom-style:groove;
        border-color:seagreen;
    }
    h6{
        padding:6px;
    }
</style>

